.context-menu, 
.context-menu-right,
.context-menu-top{
  display: none;
  position: fixed;
  max-width: 300px;
  z-index: 10;
  background: #74757B;
  overflow-y: auto;
}
ul {
  list-style: none;
}
li{
  padding: 6px 8px;
  color: #eee;
  cursor: pointer;
  font-size: 15px;
}

.context-menu, 
.context-menu-right,
.context-menu-top{
  transition: background-color 0.2s;
  border-radius: 10px;
}
i{
  margin-right: 4px;
  color: #eee;
  font-size: 18px;
}