*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #2b2b2b;
}
:root{
  --full-value: 100%;
  --value-direct: 0;
}

#root,
.toolbar-top,
.tools-bottom,
.tool-right,
img {
  width: var(--full-value);
}
.toolbar-top {
  height: 4rem;
  top: var(--value-direct);
  z-index: 3;
}

.tools-bottom {
  height: 1.6rem;
  bottom: var(--value-direct);
  left: var(--value-direct);
  z-index: 9;
  margin-bottom: 0.5rem;
}

.toolbar-left,
.tool-left {
  width: 2.7rem;
  left: var(--value-direct);
  overflow-y: auto;
}

.toolbar-right,
.tool-left,
.toolbar-left,
.tool-right, 
img {
  height: var(--full-value);
}

.toolbar-right {
  width: 3rem;
  right: var(--value-direct);
}

.toolbar-left,
.toolbar-right,
.tool-left, 
.tool-right {
  flex-direction: column;
  z-index: 2;
}

.toolbar-left,
.toolbar-top,
.toolbar-right,
.tools-bottom,
.tools, 
.tool-right{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(81, 81, 82, 1);
}

.toolbar-left, 
.tool-right{
  justify-content: flex-start;
  padding-top: 3.2rem;
}

.tools {
  height: 1.2rem;
  top: var(--value-direct);
  justify-content: flex-start;
  user-select: none;
  color: white;
}

.toolbar-left,
.toolbar-right,
.tool-left,
.tools,
.tools-bottom {
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}
