.tool-btn {
  width: 100%;
  height: 3rem;
  color: white;
  background: rgba(81, 81, 82, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.tool-btn:houver, 
.bar_choose {
  display: block;
}

.tool-btn::-webkit-scrollbar {
  display: none;
}

.sub-menu {
  display: none;
}