.tools {
  position: absolute;
  height: 1.2rem;
  top: 0;
}
.btn-top {
  position: relative;
  height: 100%;
  width: 6rem;
  font-size: 0.9rem;
  text-align: center;
  padding: 2px 8px;
  display: flex;
}

.tools::-webkit-scrollbar {
  display: none;
}

.tools{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  color: white;
  scrollbar-width: none;
  white-space: nowrap;
  overflow-x: auto;
}